:root {
  --accent: #ff57b4;
  --background: #e1e1de;
  --foreground: #1d1d1d;
  --surface: #d9d9d1;
  --surface-front: #b3b3b3;
  --muted-foreground: #adadad;
  --disabled-foreground: #b3b3b3;
  --disabled-background: #717171;
  --inv-foreground: #d0d0d0;
  --inv-background: #212121;
  --translucent: rgba(127, 127, 127, 0.2);

  --button-primary-bg-hover: #2f2f2f;
  --button-secondary-bg: #bcbcb5;
  --button-secondary-bg-hover: #c5c5be;
  --button-secondary-bg-active: #c1c1b9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #bae62a;
    --background: #181814;
    --foreground: #e9e9e9;
    --surface: #2e2e25;
    --surface-front: #4a4a3d;
    --muted-foreground: #737373;
    --disabled-foreground: #525252;
    --disabled-background: #a1a1a1;
    --inv-foreground: #2f2f2f;
    --inv-background: #e5e5e5;
    --translucent: rgba(1, 1, 1, 0.2);

    --button-primary-bg-hover: #dadada;
    --button-secondary-bg: #4f4f4c;
    --button-secondary-bg-hover: #585855;
    --button-secondary-bg-active: #454542;
  }
}
